In [ ]:
 # imports
import math
import numpy as np
from numpy.random import randn
from statsmodels.stats.weightstats import ztest
from statsmodels.stats import weightstats as stests
import pandas as pd

In [ ]:
# Generate a random array of 50 numbers having mean 110 and sd 15
# similar to the IQ scores data we assume above
mean_iq = 110
sd_iq = 15/math.sqrt(50)
null_mean =100
data = sd_iq*randn(50)+mean_iq
# print mean and sd
print('mean=%.2f stdv=%.2f' % (np.mean(data), np.std(data)))

mean=109.83 stdv=2.30

In [ ]:
ztest_Score, p_value= ztest(data,value = null_mean, alternative='larger')
if(p_value <  0.05):
  print("Reject Null Hypothesis")
else:
  print("Fail to Reject NUll Hypothesis")

Reject Null Hypothesis

In [ ]:
 
# load dataset as pandas dataframe
df = pd.read_csv('/content/diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
ztest ,propability_value = stests.ztest(df['DiabetesPedigreeFunction'], x2=None, value=146)
print("Z-Score value:",ztest,"p value:",float(propability_value))
if(propability_value <  0.05):
  print("Reject Null Hypothesis")
else:
  print("Fail to Reject NUll Hypothesis")

Z-Score value: -12172.18715047478 p value: 0.0
Reject Null Hypothesis

In [ ]:
ztest ,propability_value = stests.ztest(df['Glucose'], x2=None, value=146)
print("Z-Score value:",ztest,"p value:",float(propability_value))
if(propability_value <  0.05):
  print("Reject Null Hypothesis")
else:
  print("Fail to Reject NUll Hypothesis")

Z-Score value: -21.760593846867447 p value: 5.4833686126737446e-105
Reject Null Hypothesis

In [ ]:
ztest ,propability_value = stests.ztest(df['DiabetesPedigreeFunction'], df['Glucose'], value=146)
print("Z-Score value:",ztest,"p value:",float(propability_value))
if(propability_value <  0.05):
  print("Reject Null Hypothesis")
else:
  print("Fail to Reject NUll Hypothesis")

Z-Score value: -230.91398821795556 p value: 0.0
Reject Null Hypothesis